
body{
    margin: 0px;
    padding: 0px;
}
:root{
    --colors-1:rgba(225, 237, 230, 1);
    --colors-2:rgba(89, 141, 102, 1);
}
.headerDiv{
    display: grid;
    
}
.headerMinDiv{
    background: var(--colors-1);
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 3px;
    display: grid;
    grid-template-columns: auto auto;
}
.headerIcons{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    line-height: 23.48px;
    cursor: default;
}
.hedIcons{
    width: 35px;
    height: 35px;
    cursor: default;
}
.hedTitles{
    font-weight: 500;
    color: var(--colors-2);
}
.headerInfo{
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
.hedProduct{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.hedProduct:hover{
    color: rgba(89, 141, 102, 1);
}
.hedProduct:focus{
    transition: 0.3s;
}
.hedInfo{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.hedInfo:hover{
    color: rgba(89, 141, 102, 1);
}
.hedAbout{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.hedAbout:hover{
    color: rgba(89, 141, 102, 1);
}
.headerBasket{
    cursor: pointer;
    display: flex;
    align-items: center
}
.backetInfo{
    display: flex;
    background: var(--colors-2);
    border-radius: 50px;
    color: #fff;
    margin-left: 20px;
    justify-content: center;
    margin-top: -3px;
    margin-right: -37px;
    width: 22px;
}
.backetInfo:hover{
    transition: 0.3s;
    background: black;
    color: rgba(89, 141, 102, 1);
}
.backetImg{
    height: 22px;
    width: 22px;
}
.headerHouse{
    margin-top: 100px;
    padding-left: 165px;
    padding-right: 165px;
    height: 620px;
    display: grid;
    grid-template-columns: auto auto;
}
.headerHouseTitles{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}
.HouseTitles{
    font-weight: 500;
    color: rgba(44, 45, 53, 1);
    font-size: 60px;
    cursor: default;
}
.HouseText{
    margin-top: -280px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(134, 146, 139, 1);
    width: 530px;
    cursor: default;
}
.HouseButton{
    border:1px solid var(--colors-2);
    margin-top: -200px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    color: var(--colors-2);
    background: none;
    cursor: pointer;
}
.HouseButton:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.HouseButton:focus{
    transition: 0.3s;
    background: var(--colors-1);
    color: var(--colors-2);
}
.modalBlock{
    display: none;
}
.modalBl{
    display: flex;
    gap: 100px;
}
.modalBlBtn{
    display: none;
}
@media(max-width:1290px){
    .headerMinDiv{
        background: var(--colors-1);
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 3px;
        display: flex;
        gap: 170px;
    }
    .headerInfo{
        cursor: pointer;
        display: flex;
        font-size: 20px;
        gap: 90px;
        justify-content: space-around;
        align-items: center;
    }
}
@media(max-width:1200px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size: 50px;
        cursor: default;
    }
    .HouseText {
        margin-top: -280px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 400px;
        cursor: default;
    }
}
@media(max-width:1100px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size: 50px;
        cursor: default;
    }
    .modalBl{
        display: flex;
        gap: 50px;
    }
    .HouseText {
        margin-top: -280px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 400px;
        cursor: default;
    }
    .headerImg{
        width: 440px;
        height: 520px;
    }
}
@media(max-width:1050px){
    .headerMinDiv{
        background: var(--colors-1);
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 3px;
        display: grid;
        gap: 0px;
    }
    .headerDiv {
        display: grid;
        justify-content: space-evenly;
    }
    .headerInfo{
        cursor: pointer;
        display: flex;
        font-size: 20px;
        gap: 0px;
        justify-content: space-around;
        align-items: center;
    }
}
@media(max-width:870px){
    .headerIcons{
        margin-left: 20px;
    }
}
@media(max-width:870px){
    .headerMinDiv{
        display: grid;
        grid-template-columns: auto;
        gap: 0px;
    }
    .headerDiv {
        display: grid;
        justify-content: space-evenly;
    }
    .headerInfo{
        border-top: 1px solid #000;
        padding-top: 10px;
        font-size: 20px;
        gap: 0px;
        justify-content: space-evenly;
    }
    .headerIcons{
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}
@media(max-width:870px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size:40px;
        cursor: default;
    }
    .HouseText {
        margin-top: -280px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 300px;
        cursor: default;
    }
}
@media(max-width:730px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size:40px;
        cursor: default;
    }
    .HouseText {
        margin-top: -470px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 300px;
        cursor: default;
    }
    .headerImg{
        width: 340px;
        height: 420px;
    }
    .headerHouseTitles{
        margin-top: -100px;
    }
    .HouseButton{
        margin-top: -420px;
    }
}
@media(max-width:630px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size:40px;
        cursor: default;
    }
    .HouseText {
        margin-top: -460px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 300px;
        cursor: default;
    }
    .headerImg{
        padding-top: 100px;
        width: 300px;
        height: 380px;
    }
    .HouseButton{
        margin-top: -420px;
    }
}
@media(max-width:570px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size:35px;
        cursor: default;
    }
    .headerImg{
        padding-top: 140px;
        width: 220px;
        height: 300px;
    }
    .HouseButton{
        margin-top: -410px;
    }
    .HouseText {
        margin-top: -400px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 300px;
        cursor: default;
    }
}
@media(max-width:570px){
    .HouseTitles {
        font-weight: 500;
        color: rgba(44, 45, 53, 1);
        font-size:35px;
        cursor: default;
    }
    .HouseText {
        margin-top: -400px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(134, 146, 139, 1);
        width: 300px;
        cursor: default;
    }
    .headerHouse{
        margin-top: 0px;
    }
    .headerHouseTitles {
        margin-top: 00px;
    }
    .headerImg{
        width: 220px;
        height: 320px;
     }
     .HouseButton{
        margin-top: -350px;
    }
}
@media(max-width:510px){
    .HouseTitles {
        font-size:38px;
    }
    .headerHouseTitles {
        display: flex;
        justify-content: flex-start;
    }
    .HouseText {
        margin-top: 0px;
        font-size: 18px;
        width: 400px;
    }
    .HouseButton{
        margin-top: 0px;
    }
    .headerHouse{
        margin-top: 100px;
    }
    .headerImg{
       display: none;
    }
    .modalBl{
        display: flex;
        gap: 30px;
    }
}
@media(max-width:420px){
    .HouseText {
        margin-top: 0px;
        font-size: 18px;
        width: 340px;
    }
}
@media(max-width:360px){
    .headerIcons{
        margin-left: 0px;
        background: #fff;
        width: 100%;
    }
    .modalBlock{
        display: block;
    }
    .HouseTitles {
        cursor: pointer;
    }
    .headerInfo {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
    
    }
    .modalBl{
        padding-top: 20px;
        padding-left: 48px;
        width: 100%;
        margin-top: 190px;
        background: var(--colors-1);
        display: none;
        gap: 45px;
        flex-direction: column;
        transition:all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
        position: absolute;
        padding-bottom: 20px;
        font-size: 21px;
    }
    .modalBlBtn{
        border: none;
        background: none;
        font-size: 21px;
        font-weight: 500;
        width: 40px;
        height: 50px;
    }
    .headerHouseTitles {
        display: flex;
        justify-content: flex-start;
    }
    .HouseText {
        margin-top: 0px;
        font-size: 18px;
        width: 260px;
    }
    .hedProduct{
        margin-top: -50px;
    }
    .HouseButton{
        margin-top: 0px;
    }
    .headerHouse{
        margin-top: 100px;
    }
    .headerImg{
       display: none;
    }
    .headerMinDiv {
        background: var(--colors-1);
        padding-left: 0px; 
        padding-right: 0px; 
        padding-top: 0px;
    }
}

@media(max-width:340px){
.headerInfo {
        padding-left: 20px;
        padding-right: 30px;
        display: flex;
    }
} 
@media(max-width:325px){
    .headerInfo {
        padding-left: 30px;
        padding-right: 40px;
        display: flex;
    }
} 
@media(max-width:315px){
    .headerInfo {
        padding-left: 30px;
        padding-right: 50px;
        display: flex;
    
    }
} 
@media(max-width:310px){
    .headerInfo {
        padding-left: 40px;
        padding-right: 50px;
        display: flex;
    
    }
} 