/* create Card the Backet */
/* CreateEngland cards1 */
.CreateEnglandCard1{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard1Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard1Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard1Text2{
    margin-top: 30px;
    margin-left: -122px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard1result{
    margin-top: -5px;
    margin-left: 112px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard1Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard1Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateEngland cards2 */
.CreateEnglandCard2{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard2Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard2Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard2Text2{
    margin-top: 30px;
    margin-left: -162px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard2result{
    margin-top: -5px;
    margin-left: 82px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard2Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard2Button:focus{
    transition: 0.3s;
    color: black;
}

/* CreateEngland cards3 */
.CreateEnglandCard3{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard3Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard3Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard3Text2{
    margin-top: 30px;
    margin-left: -115px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard3result{
    margin-top: -5px;
    margin-left: 110px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard3Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard3Button:focus{
    transition: 0.3s;
    color: black;
}

/* CreateEngland cards4 */
.CreateEnglandCard4{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard4Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard4Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard4Text2{
    margin-top: 30px;
    margin-left: -145px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard4result{
    margin-top: -5px;
    margin-left: 82px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard4Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard4Button:focus{
    transition: 0.3s;
    color: black;
}

/* CreateEngland cards5 */
.CreateEnglandCard5{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard5Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard5Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard5Text2{
    margin-top: 30px;
    margin-left: -125px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard5result{
    margin-top: -5px;
    margin-left: 135px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard5Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard5Button:focus{
    transition: 0.3s;
    color: black;
}

/* CreateEngland cards6 */
.CreateEnglandCard6{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateEnglandCard6Img{
    width: 100px;
    height: 100px;

}
.CreateEnglandCard6Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard6Text2{
    margin-top: 30px;
    margin-left: -105px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateEnglandCard6result{
    margin-top: -5px;
    margin-left: 84px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateEnglandCard6Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateEnglandCard6Button:focus{
    transition: 0.3s;
    color: black;
}
@media(max-width:410px){
    .CreateEnglandCard1Titles{
        font-size: 18px;
    }
    .CreateEnglandCard1Text2{
        font-size: 15px;
    }
    .CreateEnglandCard2Titles{
        font-size: 18px;
    }
    .CreateEnglandCard2Text2{
        font-size: 15px;
    }
    .CreateEnglandCard3Titles{
        font-size: 18px;
    }
    .CreateEnglandCard3Text2{
        font-size: 15px;
    }
    .CreateEnglandCard4Titles{
        font-size: 18px;
    }
    .CreateEnglandCard4Text2{
        font-size: 15px;
    }
    .CreateEnglandCard5Titles{
        font-size: 18px;
    }
    .CreateEnglandCard5Text2{
        font-size: 15px;
    }
    .CreateEnglandCard6Titles{
        font-size: 18px;
    }
    .CreateEnglandCard6Text2{
        font-size: 15px;
    }
}