/* create Card the Backet */
/* CreateGermany cards1 */
.CreateGermanyCard1{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard1Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard1Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard1Text2{
    margin-top: 30px;
    margin-left: -122px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard1result{
    margin-top: -5px;
    margin-left: 80px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard1Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard1Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateGermany cards2 */
.CreateGermanyCard2{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard2Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard2Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard2Text2{
    margin-top: 30px;
    margin-left: -78px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard2result{
    margin-top: -5px;
    margin-left: 143px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard2Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard2Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateGermany cards3 */
.CreateGermanyCard3{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard3Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard3Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard3Text2{
    margin-top: 30px;
    margin-left: -140px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard3result{
    margin-top: -5px;
    margin-left: 82px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard3Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard3Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateGermany cards4 */
.CreateGermanyCard4{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard4Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard4Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard4Text2{
    margin-top: 30px;
    margin-left: -120px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard4result{
    margin-top: -5px;
    margin-left: 82px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard4Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard4Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateGermany cards5 */
.CreateGermanyCard5{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard5Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard5Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard5Text2{
    margin-top: 30px;
    margin-left: -60px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard5result{
    margin-top: -5px;
    margin-left: 132px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard5Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard5Button:focus{
    transition: 0.3s;
    color: black;
}
/* CreateGermany cards6 */
.CreateGermanyCard6{
    width: 550px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
}
.CreateGermanyCard6Img{
    width: 100px;
    height: 100px;

}
.CreateGermanyCard6Titles{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 23px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard6Text2{
    margin-top: 30px;
    margin-left: -140px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.CreateGermanyCard6result{
    margin-top: -5px;
    margin-left: 132px;
    cursor: default;
    font-size: 23px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.CreateGermanyCard6Button{
    margin-left: 10px;
    margin-top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: rgb(248, 10, 10);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
}
.CreateGermanyCard6Button:focus{
    transition: 0.3s;
    color: black;
}