.GermanyDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 800px 800px;
}
/* Germany cards1 */
.GermanyCard1{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard1Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard1Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard1Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard1result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard1Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard1Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard1Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* Germany cards2 */
.GermanyCard2{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard2Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard2Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard2Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard2result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard2Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard2Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard2Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* Germany cards3 */
.GermanyCard3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard3Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard3Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard3Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard3result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard3Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard3Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard3Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* Germany cards4 */
.GermanyCard4{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard4Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard4Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard4Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard4result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard4Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard4Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard4Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* Germany cards5 */
.GermanyCard5{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard5Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard5Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard5Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard5result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard5Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard5Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard5Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* Germany cards6*/
.GermanyCard6{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.GermanyCard6Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.GermanyCard6Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard6Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.GermanyCard6result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.GermanyCard6Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.GermanyCard6Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.GermanyCard6Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}