.productDiv{
    margin-top: 150px;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 3px;
}
.nav-tabs{
    margin-top: -50px;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 40px;
    display: flex;
  }
  .nav-tab{
    transform: translateX(-160px);
    font-weight: 500;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    border-radius: 20px;
    background: rgba(225, 237, 230, 1);
    border: 1px solid rgba(225, 237, 230, 1);
  }
  .nav-tab:hover{
    transition: 0.3s;
    border: 1px solid rgba(89, 141, 102, 1);
  }
  .nav-tab.active{
    color: #fff;
    border: 1px solid rgba(89, 141, 102, 1);
    background: rgba(89, 141, 102, 1);
    cursor: pointer;               
  }
  .tab-pane{
    display: none;
  }
  .tab-pane.active{
    display: grid;
  }
  .productTitle{
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-top: 50px;
    cursor: default;
    border: none;
  }
  .productsTitles{
    width: 230px;
    margin-top: 70px;
  }
.FranceDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 800px 800px;
}
/* france cards1 */
.FranceCard1{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard1Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard1Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard1Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard1result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard1Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard1Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard1Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* france cards2 */
.FranceCard2{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard2Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard2Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard2Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard2result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard2Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard2Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard2Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* france cards3 */
.FranceCard3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard3Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard3Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard3Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard3result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard3Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard3Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard3Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* france cards4 */
.FranceCard4{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard4Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard4Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard4Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard4result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard4Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard4Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard4Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* france cards5 */
.FranceCard5{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard5Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard5Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard5Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard5result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard5Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard5Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard5Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}


/* france cards6*/
.FranceCard6{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(225, 237, 230, 1);
    width: 310px;
    height: 730px;
}
.FranceCard6Text{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.FranceCard6Titles{
    margin-top: -5px;
    font-size: 30px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard6Text2{
    margin-top: -30px;
    font-size: 18px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    cursor: default;
}
.FranceCard6result{
    cursor: default;
    font-size: 24px;
    color: rgba(89, 141, 102, 1);
    font-weight: 500;
}
.FranceCard6Button{
    width: 310px;
    cursor: pointer;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.FranceCard6Button:hover{
    transition: 0.3s;
    color: #fff;
    background: var(--colors-2);
}
.FranceCard6Button:focus{
    transition: 0.3s;
    background: var(--colors-2);
    color: var(--colors-1);
}
